/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
}

header,
main,
footer {
    width: 90%;
    margin: 0 auto;
}

h3 {
    font-size: 3rem;
    font-weight: 800;
}

#color {
    color: rgb(255, 84, 0);
}

.midle-p-text {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px auto;
    line-height: 26px;
    text-align: center;
    width: 500px;
}

.midle-h4-text {
    color: rgb(19, 19, 24);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.normal-p-text {
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 400px;
}

.normal-h5-text {
    color: rgb(19, 19, 24);
    font-size: 1rem;
    font-weight: 800;
    line-height: 30px;
}

.card-img {
    height: 50px;
    width: 50px;
    margin-bottom: 1.5rem;
}

/* navbar area  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-logo>img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

/* list container area style */
.list-container {
    display: flex;
    /* align-items: center; */
}

.list-item {
    list-style: none;
    margin-right: 2rem;

}

.list-link {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(66, 66, 71);
}

/* banner area style */
.banner {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;

}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    line-height: 80px;
    padding-bottom: 20px;
}

.banner-text {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 60px 48px 60px;
    text-align: center;
    width: 80%;
}

.input-fill {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    backdrop-filter: blur(2px);

}

input,
select,
button {
    width: 154px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1em;
}

.btn {
    background: rgb(255, 84, 0);
    color: aliceblue;
    cursor: pointer;
}

/* popular tour area style */
.popular-tour {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    gap: 40px;
}

.popular-tour>img {
    width: 500px;
    height: 400px;
}

.tour-container>h4 {
    color: rgb(19, 19, 24);
    font-size: 2rem;
    font-weight: 800;
}

.tour-container>p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0;
    line-height: 26px;
}

.tour-container>ul>li {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px;
    line-height: 26px;
    text-align: left;
}

/* your destination area style start */
.destination {
    padding-bottom: 5rem;
}



.card-1,
.card-2,
.card-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.card-2 {
    grid-template-columns: 0.7fr 1.5fr 0.8fr;
}

.card-3 {
    grid-template-columns: 1fr 2fr;
}

.country-card {
    position: relative;
}

.destination-images {
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}

.destination-text {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* choice us section style */
.choice-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.hotel,
.world-service,
.Guarenti {
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 25px 48px;
}

.world-service {
    background: rgba(41, 206, 246, 0.05);
}

.Guarenti {
    background: rgba(233, 68, 68, 0.05);
}

.price-card {
    width: 570px;
    margin: 30px auto;
}

/* Deal and Discount secton style */
.deal {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.banner-deal {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-radius: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.deal-content,
.discount-content {
    padding: 2rem 3rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 300px;
    margin-right:4rem;
}

.deal-content > p , .discount-content > p {
    font-size: 1rem;
    display: inline;
    margin-right: 1rem;
    color: rgb(90, 90, 93);
}

.deal-content > p > i , .discount-content > p > i {
    color: rgb(255, 84, 0);
    margin-right: 0.5rem;
}
.satorini{
    margin: 1rem 0;
}
.deal-content > h6 , .discount-content > h6 {
    color: rgb(255, 84, 0);
    font-size: 1rem;
    margin: 1rem 0;

}
.btn-2{
    margin-top: 1rem;
}

/* banner-discount area style */
.banner-discount{
    background-image: url("../Images/Group\ 40.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.discount-content{
    margin-left: 4rem;
}

/* popular place get lost area style */
